<mat-toolbar>
  <button mat-icon-button aria-label="Hp Dune">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HP Dune</span>
  <span></span>

  <button mat-icon-button class="display-right">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="display-right">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
