<div class="home-container">
<button type="button" mat-raised-button color="primary" (click)="getAllPosts()">
  Get Posts
</button>
<div *ngFor="let post of posts">
  <h1>{{post.title}}</h1>
  <p>{{post.body}}</p>
  <mat-divider></mat-divider>
</div>
</div>
